body
 {
   background-image: url(menu.jpg);
   background-repeat: no repeat;
   background-position: left;
 }

h1
{
color: black;
font-size: 15pt;
font-family: arial;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    